#!/bin/sh

printf "************************************************************************\n"
printf "\n"
printf "***       Welcome to {{ ENVIRONMENT }}-bastion.prism1.click !\n"
printf " \n"
printf "***        You may have sudo privileges on all hosts.\n"
printf "***                  Please be careful.\n"
printf " \n"
printf "************************************************************************\n"
printf " \n"
printf "Try these commands:\n"
printf "\n"
printf "  View consul members:\n"
printf "\n"
printf "$ consul members\n"
printf "\n"
printf "  Note that to connect to hosts you must edit your workstation config.\n"
printf "  1 - Logout.\n"
printf "  2 - Add in `~/.ssh/config`:\n"
printf "    a - \`ForwardAgent yes\`\n"
printf "    b - \`ServerAliveInterval 30\`\n"
printf "  3 - Login back in.\n"
printf "\n"
printf "  Connect to other servers when back on this jump-host with:\n"
printf "\n"
printf "$ ssh <ConsulNode>\n"
printf "\n"
printf "  Access postgres DB (can you find the user/pass?):\n"
printf "\n"
printf "$ psql -h <template removed>\n"
printf "\n"
printf "  Access legacy mysql DB:\n"
printf "\n"
printf "$ mysql -h <template removed>\n"
printf "\n"
printf "\n"
printf "************************************************************************\n"
printf "!!!   This is the \`\`\`{{ ENVIRONMENT }}\`\`\` environment    !!!\n"
printf "************************************************************************\n"
printf "\n"
printf "  To access another env logout and:\n"
printf "\n"
printf "$ ssh <Env>-bastion.prism1.click\n"
printf "\n"
printf "  To tunnel ports for MySQL, Postgres, Consul UI and Nomad UI\n"
printf "  Log back in with:\n"
printf "\n"
printf "$ ssh {{ENVIRONMENT}}-bastion.prism1.click -L8500:127.0.0.1:8500 -L4646:127.0.0.1:4646 -L8080:nomad-client.service.consul:8080\n"
printf "\n"
printf "  To access dashboards through the tunnel:\n"
printf "\n"
printf "Traefik  UI: http://localhost:8080\n"
printf "Consul   UI: http://localhost:8500\n"
printf "Nomad    UI: https://localhost:4646\n"
printf "\n"
printf "************************************************************************\n"
printf "\n"

