client {
  enabled = true
  host_volume "ca-pem" {
    path = "/etc/nomad.d/{{ ENVIRONMENT }}-ca.pem"
    read_only = true
  }
}
tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/{{ ENVIRONMENT }}-ca.pem"
  cert_file = "/etc/nomad.d/{{ ENVIRONMENT }}-client.pem"
  key_file = "/etc/nomad.d/{{ ENVIRONMENT }}-client-key.pem"

  verify_server_hostname = true
  verify_https_client = false
}
