server {
  enabled = true
  bootstrap_expect = {{ CONSUL_SERVER_COUNT }}
  encrypt = "{{ nomad_gossip_key }}"
}

tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/{{ ENVIRONMENT }}-ca.pem"
  cert_file = "/etc/nomad.d/{{ ENVIRONMENT }}-server.pem"
  key_file = "/etc/nomad.d/{{ ENVIRONMENT }}-server-key.pem"

  verify_server_hostname = true
  verify_https_client = false
}