server {
  enabled = true
  bootstrap_expect = {{ CONSUL_SERVER_COUNT }}
  encrypt = "{{ NOMAD_GOSSIP_KEY }}"
}
tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/{{ ENVIRONMENT }}-ca.pem"
  cert_file = "/etc/nomad.d/{{ ENVIRONMENT }}-server.pem"
  key_file = "/etc/nomad.d/{{ ENVIRONMENT }}-server-key.pem"

  verify_server_hostname = true
  verify_https_client = false
}
#consul {
#  address = "127.0.0.1:8501"
#  ssl = true
#
#  server_service_name = "nomad"
#  client_service_name = "nomad-client"
#
#  auto_advertise      = true
#  server_auto_join    = true
#  client_auto_join    = true
#
#  ca_file = "/etc/consul.d/{{ ENVIRONMENT}}-consul-agent-ca.pem"
#  cert_file = "/etc/consul.d/{{ CONSUL_DATACENTER }}-server-consul-latest.pem"
#  key_file = "/etc/consul.d/{{ CONSUL_DATACENTER }}-server-consul-latest-key.pem"
#}